<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  COPYRIGHT (c) Nextree Consulting 2015
  This software is the proprietary of Nextree Consulting.  
  
  @author <a href="mailto:hkkang@nextree.co.kr">Kang Hyoungkoo</a>
  @since 2015. 1. 5.
 -->
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="namoo.board.dom2.da.mybatis.mapper.BoardUserMapper">

    <insert id="insert" parameterType="BoardUser">
        INSERT INTO board_user (user_email, user_name, phone_number, reg_date)
        VALUES (#{email}, #{name}, #{phoneNumber}, SYSDATE())
    </insert>

    <update id="update" parameterType="BoardUser">
        UPDATE board_user
        SET phone_number = #{phoneNumber}
        WHERE user_email = #{email}
    </update>
    
    <delete id="delete" parameterType="string">
        DELETE FROM board_user
        WHERE user_email = #{email}
    </delete>

    <sql id="userColumns">
        user_email, user_name, phone_number
    </sql>

    <resultMap type="BoardUser" id="userResultMap">
        <id     property="email"        column="user_email"/>
        <result property="name"         column="user_name"/>
        <result property="phoneNumber"  column="phone_number"/>
    </resultMap>

    <select id="select" parameterType="string" resultMap="userResultMap">
        SELECT <include refid="userColumns"/>
        FROM board_user
        WHERE user_email = #{email}
    </select>
    
    <select id="selectAll" resultMap="userResultMap">
        SELECT <include refid="userColumns"/>
        FROM board_user
    </select>
    
    <select id="selectByName" parameterType="string" resultMap="userResultMap">
        SELECT <include refid="userColumns"/>
        FROM board_user
        WHERE user_name = #{name}
    </select>


</mapper>