<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  COPYRIGHT (c) Nextree Consulting 2015
  This software is the proprietary of Nextree Consulting.  
  
  @author <a href="mailto:hkkang@nextree.co.kr">Kang Hyoungkoo</a>
  @since 2015. 1. 5.
 -->
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="namoo.board.dom2.da.mybatis.mapper.SocialBoardMapper">
    
    <insert id="insert" parameterType="SocialBoard">
        INSERT INTO social_board (board_id, board_name, commentable_yn, team_id, create_date)
        VALUES (#{usid}, #{name}, #{commentable,typeHandler=BoolYnTypeHandler}, #{teamUsid}, SYSDATE())
    </insert>
    
    <update id="update" parameterType="SocialBoard">
        UPDATE social_board
        SET 
            board_name = #{name}, 
            commentable_yn = #{commentable,typeHandler=BoolYnTypeHandler}
        WHERE board_id = #{usid}
    </update>
    
    <delete id="delete" parameterType="string">
        DELETE FROM social_board
        WHERE board_id = #{usid}
    </delete>
    
    <update id="nextSequence" parameterType="map" >
        <selectKey keyProperty="nextSeq" order="BEFORE" resultType="int">
            SELECT next_seq
            FROM board_seq
            WHERE seq_name = 'board_id'
        </selectKey>
        UPDATE board_seq
        SET next_seq = (#{nextSeq} + 1)
        WHERE seq_name = 'board_id' 
    </update>
    
    <sql id="boardColumns">
        board_id, board_name, commentable_yn, team_id, create_date
    </sql>
    
    <resultMap type="SocialBoard" id="boardResultMap">
        <id     property="usid"             column="board_id" />
        <result property="name"             column="board_name" />
        <result property="commentable"      column="commentable_yn" typeHandler="BoolYnTypeHandler"/>
        <result property="teamUsid"         column="team_id" />
        <result property="createDate"       column="create_date"/>
    </resultMap>
    
    <select id="select" parameterType="string" resultMap="boardResultMap">
        SELECT <include refid="boardColumns"/>
        FROM social_board
        WHERE board_id = #{usid}
    </select>
    
    <select id="selectByName" parameterType="string" resultMap="boardResultMap">
        SELECT <include refid="boardColumns"/>
        FROM social_board
        WHERE board_name = #{boardName}
    </select>
    
    <select id="selectAll" resultMap="boardResultMap">
        SELECT <include refid="boardColumns"/>
        FROM social_board
    </select>
    
</mapper>