@(socialBoards: List[namoo.board.dom2.entity.board.DCSocialBoard], posting: namoo.board.dom2.entity.board.DCPosting, socialBoard: namoo.board.dom2.entity.board.DCSocialBoard)

@layout.menu()
@layout.common("Welcome to Play") {

    <!-- Header ========================================================================================== -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2>게시판</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="/home">홈</a></li>
                        <li><a href="/home">게시판</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </header>

    <!-- Container ======================================================================================= -->
    <div class="container">
        <div class="row">

            <div style="z-index : 1020" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="list-group panel panel-success">
                    <div class="panel-heading list-group-item text-center hidden-xs">
                        <h4>게시판</h4>
                    </div>
                    <div>

                    @for(socialBoard <- socialBoards) {
                        <a href='@routes.Postings.list(socialBoard.getUsid(), "1")' class="list-group-item hidden-xs">@socialBoard.getName()</a>
                    }

                    </div>

                </div>
            </div>

            <div class="col-sm-9 col-lg-9">
                <div>
                    <h3>@socialBoard.getName</h3>
                </div>

                <form action="/board/@socialBoard.getUsid/posting/@posting.getUsid" method="post">
                    <input type="hidden" name="boardUsid" value="@socialBoard.getUsid">
                    <input type="hidden" name="postingUsid" value="@posting.getUsid">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                        @posting.getTitle
                        </div>
                        <div class="panel-body">
                            <div class="post">
                                <div class="write_info">
                                    <span class="name">@posting.getWriterName</span>
                                    <span class="date"><span class="_val"><fmt:formatDate value="@posting.getRegisterDate"
                                    pattern="yyyy-MM-dd"/></span></span>

                                </div>

                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="contents"
                                rows="5">@posting.getContents.getContents</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">저장</button>
                        <a href="/board/@socialBoard.getUsid/posting/@posting.getUsid"
                        class="btn btn-default">취소</a>
                    </div>
                </form>
            </div>


        </div>
        @layout.footer()
    </div>

}
